
select{
	width:250px;
	height:40px;
	color:#fff;
	border:none;
	background-color:#1ab188;
	font-family:loginThin;
	font-size:1.5em;
}

input[type="text"],input[type="time"],input[type="password"]{
	background-color:24313c;
	border:1px solid #a0b3b0;
	width:250px;
	height:45px;
	color:white;
	font-size:1.5em;
	padding-left: 20px;
	transition: 0.25s;
}
input[type="checkbox"]{
	background-color:24313c;
	border:1px solid #a0b3b0;
	width:18px;
	height:18px;
	color:white;
	margin-bottom:0px;
	margin-top:0px;
	display:inline-block;
	vertical-align: middle;
}
textarea:focus, input:focus{
    outline: none;
	border:1px solid #1ab188;
}

#createTable td{
	height:20px;
}
#placeFromOther,#placeToOther,#placeToOther2{
	width:250px;
}


#createTable{
	font-family:loginThin;
	color:#fff;
}

#acancel:hover{
	cursor:pointer;
}